@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vujahday+Script&display=swap');

.selection_section:hover {
    background-color: rgb(211, 211, 211);
}

*, html{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    gap: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#game{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 540px;
    height: 540px;
    flex-wrap: wrap;
    gap: 1px;
    justify-items: center;
    align-items: center;
}
.selection_section {
    width: 178px;
    height: 178px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.game_status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cooldown_player {
    width: 700px;
    height: 5px;
    background-color: black;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.player {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;  
    gap: 15px;
}
.player > p {
    font-family: "Tai Heritage Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    justify-content: center;
    text-align: center;
}
.marker_X {
    background-image: url(assets/X.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.marker_O {
    background-image: url(assets/O.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}